html{
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/* BLIND */
#blind{
  display: none;
  opacity: 0.33;
  z-index: 1;
}

/* TASK BOX */
#task-box{
  z-index: 2;
  width: 100%;
  max-width: 440px;
  border: 1px solid #707070;
  border-radius: .5rem;
  background-color: #fff;
  display: none;
}

.task-box__form input, .task-box__form textarea{
  font-size: 1.3rem;
}

/*  */
.custom-height{
  min-height: 6rem;
}

@media screen and (min-width: 992px ){
  .custom-height{
    min-height: 45rem;
  }
}