html{
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/*  */
.custom-height{
  min-height: 6rem;
}

@media screen and (min-width: 992px ){
  .custom-height{
    min-height: 45rem;
  }
}